@model IEnumerable<MyBlogProject.Models.BlogCommentModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentModerated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentModeratedBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModerationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moderator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentModerated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentModeratedBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModerationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moderator.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
